@import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
@import url("https://fonts.googleapis.com/css?family=Orbitron");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  font-family: Raleway, serif;
  max-width: 100%; }

body {
  background: #515151;
  overflow-x: hidden; }

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001; }

.header {
  min-width: 100%;
  height: 100vh;
  background: #515151;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.header .header-logo {
  -webkit-font-smoothing: antialiased; }

.initial {
  font-size: 3em;
  color: #fff;
  padding: 10px 24px;
  background: #ffc04d;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased; }

.header h1 {
  font-size: 5.4em;
  color: #919191; }
  .header h1 span {
    position: relative;
    display: inline-block;
    white-space: pre;
    -webkit-font-smoothing: antialiased; }

.header h2 {
  font-family: Orbitron, serif;
  font-size: 2.6em;
  color: #00b2ee; }

.header .btn {
  padding: 18px 30px;
  border: 2px solid #00b2ee;
  color: #fff;
  border-radius: 5px; }

.btn:hover {
  border: 2px solid #fff;
  color: #fff !important;
  background: #ffc04d;
  transition: all .5s; }

.projects {
  padding-top: 40px;
  padding-bottom: 100px;
  background: #00b2ee;
  width: 100%; }
  .projects h1 {
    padding-top: 20px;
    color: #fff; }

.mySlider {
  margin: 40px auto;
  width: 95%;
  height: auto;
  display: block;
  color: #fff; }
  .mySlider .item .card {
    margin: 0 auto; }
    .mySlider .item .card .card-block .btn {
      border: 2px solid #fff; }

.mySlider .slick-dots {
  bottom: -60px; }

.c-pens {
  padding-top: 80px;
  color: #fff; }

.c-pens .container .row .cp-left {
  padding-right: 28px; }
  .c-pens .container .row .cp-left h1 {
    font-size: 4em; }
  .c-pens .container .row .cp-left p {
    font-size: 1.6em;
    color: #c4c4c4; }
  .c-pens .container .row .cp-left a {
    padding: 10px 20px;
    border: 2px solid #00b2ee;
    border-radius: 5px;
    color: #fff;
    text-decoration: none; }
  .c-pens .container .row .cp-left a:hover {
    border: 2px solid #fff;
    color: #fff !important;
    background: #ffc04d;
    transition: all .5s; }

.c-pens .container .row .cp-right .cp-slider .items {
  width: 100%; }

.c-pens .container .row .cp-right .cp-slider .slick-dots {
  bottom: -40px; }

.video-section {
  margin-top: 80px;
  padding: 0;
  position: relative;
  width: 100%;
  max-height: 480px;
  overflow: hidden; }
  .video-section #video-elem {
    width: 100%; }

.video-textbox {
  color: #fff;
  position: absolute;
  left: 60%;
  top: 25%;
  padding-bottom: 40px;
  line-height: 2; }
  .video-textbox li {
    list-style: none;
    text-align: left; }

.video-section .video-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }

.angular-projects {
  padding-top: 40px;
  padding-bottom: 100px;
  background: #00b2ee;
  width: 100%; }
  .angular-projects h1 {
    padding-top: 20px;
    color: #fff; }

.mySlider2 {
  margin: 40px auto;
  width: 95%;
  height: auto;
  display: block;
  color: #fff; }
  .mySlider2 .item .card {
    margin: 0 auto; }
    .mySlider2 .item .card .card-block .btn {
      border: 2px solid #fff; }

.mySlider2 .slick-dots {
  bottom: -60px; }

.about-section {
  padding-top: 100px;
  padding-bottom: 120px;
  min-height: 100vh;
  background: url("../img/sketching-gray2.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  overflow: hidden; }

.about-section .as-cont {
  margin: 0 auto; }
  .about-section .as-cont .about-left {
    background: rgba(255, 255, 255, 0.8);
    color: #989898;
    padding: 20px; }
  .about-section .as-cont .about-right {
    color: #545454;
    padding: 20px 0px 0px 40px; }

@media only screen and (min-width: 1380px) {
  .header h1 {
    font-size: 7em; }
  .header h2 {
    font-size: 3.2em; }
  .about-section {
    padding-top: 220px; } }

@media only screen and (max-width: 991px) {
  .c-pens .container .row .cp-left h1 {
    font-size: 2.6em; }
  .c-pens .container .row .cp-left p {
    font-size: 1em; } }

@media only screen and (max-width: 767px) {
  .c-pens .container .row .cp-right {
    margin-top: 40px; }
  .about-section .as-cont .about-right {
    padding-left: 10px;
    width: 100%; } }

@media only screen and (max-width: 727px) {
  .video-textbox {
    left: 5%;
    top: 15%; } }

@media only screen and (min-width: 520px) and (max-width: 900px) {
  .initial {
    width: 70px;
    height: 70px; }
    .initial span {
      font-size: 2.4em; }
  .header h1 {
    font-size: 4em; }
  .header h2 {
    font-size: 1.8em; }
  .video-section {
    min-height: 480px; }
  .video-textbox {
    left: 40%; } }

@media only screen and (max-width: 519px) {
  .initial {
    width: 70px;
    height: 70px; }
    .initial span {
      font-size: 2.4em; }
  .header h1 {
    font-size: 2.8em; }
  .header h2 {
    font-size: 1.4em; }
  .video-section {
    min-height: 480px; } }
