@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

* {
   box-sizing: border-box;
}

html, body {
   margin: 0;
   padding: 0;
   font-family: $mainFont;
   max-width: 100%;
}

body {background: #515151; overflow-x: hidden}


.overlay{
	background-color:rgba(0,0,0,0.4); 
	display:none;
	height:100%;
	left:0;
	margin:auto;
	position:fixed; 
	top:0;
 	width:100%;
 	z-index:1001;
  }
